/*BEM REMADE*/

.navbar-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
    margin-bottom: 2em;
}

.navbar {
    font-size: 1.2rem;
}

.global__navbar {
    margin-right: auto;
}

.logo {
    height: 4em;
    width: auto;
    object-fit: contain;
    background-color: aliceblue;
    border-radius: 30px;
}
.navbar__logo {
    margin-left: auto;
    margin-right: 2em;
}

.navbar__list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar__element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
    padding-inline: 2em;
    text-decoration: none;
    border-radius: 15px;   
}

.navbar__link--simple {
    color: var(--accent-text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar__link--call-to-action {
    background-color: var(--accent-color);
    color: var(--contrast-dark-color);
    transition: scale 0.3s ease-in-out;
}

.navbar__link--simple:hover {
    background-color: var(--accent-color);
    color: var(--contrast-dark-color);
    cursor: pointer;
}
.navbar__link--call-to-action:hover {
    scale: 1.1;
    cursor: pointer;
}