.navbarFlexContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 0.2em;
   margin-bottom: 2em;
}

.navStyle {
   font-size: 1.2rem;
   margin-right: auto;
}

.logo {
    height: 4em;
    width: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: 2em;
    background-color: aliceblue;
    border-radius: 30px;
}

.listStyle {
    display: flex;
    justify-content: center;
    list-style: none;
}

.NavbarElement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLink{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
    padding-inline: 2em;
    text-decoration: none;
    color: var(--accent-text-color);
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbarLink:hover {
    background-color: var(--accent-color);
    color: var(--contrast-dark-color);
    cursor: pointer;
}

.callToActionNavbarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
    padding-inline: 2em;
    text-decoration: none;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: var(--contrast-dark-color);
    transition: scale 0.3s ease-in-out;
}

.callToActionNavbarLink:hover {
    scale: 1.1;
    cursor: pointer;
}