:root {
    --primary-color: #357F83;
    --secondary-color: #E3B029; 
    --accent-color: #D88A1E;
    --background-color: #CEE4DB; 
    --text-color: #333333;
    --contrast-text-color: #000000;
    --darker-color: #939965;
}