/*BEM REMADE*/

.footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100vw;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--contrast-dark-color);
    padding: 1em 2em;
}

.global__footer {
    margin-top: auto;
    margin-inline: 4em;
}

.footer__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__club-name {
    margin-right: auto;
}

.footer__contacts {
    align-items: center;
}

.footer__icon-container {
    margin-left: auto;
}

.footer__contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.footer__icon-up {
    cursor: pointer;
    color: var(--contrast-dark-color);
    scale: 1.5;
    transition: scale 0.3s ease-in-out;
}

.footer__icon-up:hover {
    scale: 2;
}